.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    #ee7724,
    #d8363a,
    #dd3675,
    #b44593
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}

.card {
  margin-bottom: 200px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 350px;
  padding: 20px;
  visibility: hidden;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.popup-header span {
  font-size: 18px;
  font-weight: bold;
}

.close-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.popup-content,
.popup-header,
.close-button {
  margin: 0;
  color: #fff;
}

.popup-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.cancel-button,
.ok-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-button {
  background-color: #f0f0f0;
  margin-right: 10px;
}

.ok-button {
  background-color: #007bff;
  color: #fff;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 15px 0;
}

.message-box {
  display: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.message-box.active {
  display: block;
}

.close-btn {
  float: right;
  margin-left: 10px;
  cursor: pointer;
  color: #000;
  background-color: #fff;
  font-size: 20px;
}

.gradient-text {
  background: linear-gradient(135deg, #42d392, #647eff);
}

.userProfile img {
  width: 200px;
}
